<h1>Your newly created recipe</h1>

<%= link_to "Recipes", recipes_path %>
<%= link_to "Edit Recipe", edit_recipe_path(:id) %>

<ul>
<li>Name: <%= @user.recipes.last.name %></li>
<li>Ingredients: <%= @user.recipes.last.ingredients %></li>
<li>Instructions: <%= @user.recipes.last.instructions %></li>
<li>Cook Time: <%= @user.recipes.last.cook_time %></li>
</ul>

By:<%= @user.name %>
