<h1>Welcome <%= current_user.name %></h1>
<h2>Your newly created recipe: </h2>

<% if current_user %>
    <strong><%= link_to "Edit Recipe", edit_recipe_path(@recipe.id) %></strong>
    <br><br>
<% end %>



<strong>Name: </strong><%= @recipe.name %><br />
<strong>Ingredients: </strong><%= @recipe.ingredients %><br />
<strong>Instructions: </strong><%= @recipe.instructions %><br />
<strong>Cook Time: </strong><%= @recipe.cook_time %><br />


By:<%= current_user.name %>
