<h1><%= @user.name %></h1>

<% unless @posts.empty? %>
    <h3>Posts Published by <%= @user.name %>:</h3>
    <ul>
    <%= @user.posts.each do |p| %>
        <li><%= link_to p.title, post_path(p) %></li>
    <% end %>
    </ul>
<% end %>

<% unless @recipes.empty? %>
    <h3>Recipes posted by <%= @user.name %>:</h3>
    <ul>
    <%= @user.recipes.each do |r| %>
        <li><%= link_to r.name, recipe_path(r) %></li>
    <% end %>
    </ul>
<% end %>









