


<h1>Welcome <%= current_user.username%></h1>
<% if !!flash[:errors] %>
<ul>
<%= flash[:errors].each do |error| %>
    <li><%= error %></li>
<% end %>
</ul>
<% end %>
<h2>Create a new post:</h2>
<%= form_for(@post) do |f| %>
    <%= f.label :title %>
    <%= f.hidden_field :user_id %>
    <%= f.text_field :title %>
    
    <%= f.label :content %>
    <%= f.text_area :content %>

    <%= f.submit "Submit" %>
<% end %>
