<h2>Welcome <%= current_user.name %></h2>

<% if @post.user_id %>
    <strong><%= link_to "Edit Post", edit_post_path(@post.id) %></strong> 
    <br><br>
<% end %>

<strong>Title: </strong><%= @post.title %><br><br>

<strong>Content: </strong><%= @post.content %>

<h3>Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments.reverse %>

<section class="comment">
<h3>Leave a comment:</h3>
<%= render partial: 'comments/form' %>
<br>
</section>







   


