<h1>Your new post</h1>

<%= link_to "Posts", posts_path %>
<%= link_to "Edit Post", edit_post_path(:id) %>
<%= @posts.each do |post| %>
    <ul>
    <li><%= post.title %></li>
    <br>
    <li><%= post.content %></li>
    <br>
    </ul>
    By:<%= @user.name %>
<% end %>



   


