<h2>Welcome <%= current_user.name %></h2>

<% if current_user %>
    <strong><%= link_to "Edit Post", edit_post_path(@post.id) %></strong>
    <br><br>
<% end %>

<strong>Title: </strong><%= @post.title %><br><br>

<strong>Content: </strong><%= @post.content %>

<section class="content">
<h3>Leave a comment:</h3>
<%= form_for(@comment) do |c| %>
    <%= c.text_area :content %>
    <%= c.hidden_field :post_id %>
    <%= c.submit "Submit Comment" %>
<% end %>
<br>
</section>







   


